/*!
Plugin Name: Belov Test ACF Block Task
Plugin URI: https://github.com/ndegwamoche/belov-test
Author: Martin Ndegwa Moche
Author URI: https://github.com/ndegwamoche/
Description: I developed this plugin as part of my participation in the recruitment process at Belov Agency.
Version: 1.0.0
*/

/* Variables */
:root {
    --background-main: rgba(217, 212, 199, 0.5);
    --margin-large: 6.25rem;
    --margin-medium: 4rem;
    --margin-small: 3.125rem;
    --margin-xsmall: 2rem;
    --padding-large: 1.563rem;
    --padding-medium: 1.5rem;
    --padding-small: 1rem;
    --border-radius-large: 15px;
    --border-radius-medium: 10px;
    --border-radius-small: 20px;
    --font-size-large: 2.5rem;
    --font-size-medium: 1.75rem;
    --font-size-small: 1.125rem;
    --font-family-primary: 'Archivo', sans-serif;
    --font-family-secondary: 'Lora', serif;
    --text-color: #000000;
    --bg-color: #ffffff;
}

/* Base styles */
body {
    font-family: var(--font-family-primary);
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background: var(--background-main);
    width: 100%;
}

/* Main content */
.main-content {
    display: flex;
    margin: 0 var(--margin-large) var(--margin-large);
    flex-direction: row;
}

/* Featured article */
.featured-article {
    background-color: var(--bg-color);
    width: 42.438rem;
    height: 40.188rem;
    padding: var(--padding-large);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: var(--border-radius-large);
    margin-right: 4.063rem;
}

.featured-article img {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius-medium);
}

.featured-article-content {
    text-align: center;
}

.featured-article a {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-small);
    border: 1px solid #1E1E1E;
    text-decoration: none;
    border-radius: var(--border-radius-small);
    color: var(--text-color);
    padding: 4px 8px;
    display: inline-block;
}

.featured-article h2 {
    font-size: var(--font-size-large);
    line-height: 2.875rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0.9rem;
    margin-bottom: 0;
}

.featured-article p {
    margin-top: 1rem;
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13.03px;
}

.featured-article p span {
    font-weight: 400;
}

.articles-list {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    width: 49.125rem;
}

.articles-list article {
    display: flex;
    flex-direction: row;
}

.articles-list img {
    width: 15.938rem;
    height: 10.375rem;
    object-fit: cover;
    border-radius: var(--border-radius-medium);
}

.article-content {
    margin-top: 0;
    margin-left: 1.188rem;
    padding-right: 1rem;
}

.article-content a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 16.32px;
    color: var(--text-color);
}

.article-content h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}

.article-content p {
    font-size: 12px;
    font-weight: 500;
    line-height: 13.06px;
    text-transform: uppercase;
    color: var(--text-color);
}

/* Media queries */
@media (min-width: 1367px) and (max-width: 1730px) {
    .main-content {
        margin: 0 5rem;
        flex-wrap: nowrap;
    }

    .featured-article {
        width: calc(50% - 2.5rem);
    }

    .articles-list {
        width: 50%;
    }
}

@media (min-width: 1263px) and (max-width: 1366px) {
    .main-content {
        margin: 0 var(--margin-medium);
        flex-wrap: nowrap;
    }

    .featured-article {
        width: 40%;
        margin-right: 3.5rem;
        height: 34rem;
    }

    .featured-article h2 {
        font-size: var(--font-size-medium);
    }

    .articles-list {
        width: 55%;
        gap: 3rem;
    }

    .articles-list img {
        width: 30%;
        height: auto;
    }

    .article-content h3 {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .main-content {
        margin: 0 var(--margin-small);
    }

    .articles-list {
        width: 100%;
        margin-top: 5rem;
        gap: 3rem;
    }

    .featured-article {
        width: 100%;
        margin-right: 0;
    }

    .featured-article h2 {
        font-size: var(--font-size-medium);
    }
}

@media (max-width: 768px) {
    header {
        height: 6rem !important;
    }

    header h1 {
        font-size: 2rem;
    }

    .main-content {
        margin: 0 var(--margin-xsmall);
        flex-wrap: wrap;
    }

    .featured-article {
        padding: var(--padding-medium);
        margin-right: 0;
        height: auto;
    }

    .featured-article h2 {
        font-size: var(--font-size-medium);
        line-height: 2rem;
    }

    .featured-article a {
        font-size: 1rem;
    }

    .featured-article p {
        font-size: 0.875rem;
    }

    .articles-list {
        gap: 2.5rem;
        margin-top: 2.5rem;
    }

    .article-content a {
        font-size: 14px;
    }

    .article-content h3 {
        font-size: 18px;
    }

    .article-content p {
        font-size: 12px;
    }

    .articles-list img {
        width: 8rem;
        height: 5.5rem;
    }

    .article-content {
        margin-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 480px) {
    header {
        height: 4.688rem !important;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .main-content {
        margin: 0 var(--padding-small);
        flex-wrap: wrap;
    }

    .featured-article {
        padding: var(--padding-small);
        height: auto;
    }

    .featured-article h2 {
        font-size: 1.25rem;
        line-height: 1.375rem;
    }

    .featured-article a {
        font-size: 0.875rem;
    }

    .featured-article p {
        font-size: 0.75rem;
    }

    .articles-list {
        gap: 2rem;
        margin-top: 2.188rem;
    }

    .article-content a {
        font-size: 12px;
    }

    .article-content h3 {
        font-size: 16px;
    }

    .article-content p {
        font-size: 10px;
        margin: 0;
    }

    .articles-list img {
        width: 6.875rem;
        height: 4.723rem;
    }

    .article-content {
        margin-left: 0.5rem;
        padding-right: 0.5rem;
    }
}